---
Title: Cake.ReSharperReports
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.ReSharperReports is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows the execution of the command line interface for ReSharperReports.
    </p>
</div>